html {
    overflow-y: auto; /* Show/Hide scrollbars automatically */
}

body {
    font-family: 'Open Sans', sans-serif; /*Overrides default font*/
}

::selection {
    background: #FFA500; /* WebKit/Blink Browsers */
    color: #FFFFFF;
}
::-moz-selection {
    background: #FFA500; /* Gecko Browsers */
    color: #FFFFFF;
}

mark {
    background:#FFA500;
    color:#FFFFFF;
}

#home-section {
  background-color: F8F8F8;
  background-image: url("../images/computer-device-electronics-872958-min.jpg");
  background-size: cover;
}
